<!DOCTYPE html>
<html lang="he">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css">
</head>


<body>
<div  style="text-align: right">
    <h2> לשמירת הנתונים, הקפידו ללחוץ על כפתור השמור בתחתית העמוד</h2>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="container" style="width: 100%; right: 25%">
            <h2 style="text-align: center"><b>פרמטרים כלליים:</b></h2>
        <p style="font-size: 2em"> זמן לתגובה:  <input  ng-model="config.answer"/></p>
            <p>משך זמן המצופה לתגובה</p>
        <p style="font-size: 2em">זמן לתיקון:  <input  ng-model="config.checkAgainTime"/></p>
            <p>משך הזמן בו ניתן לתקן את התשובה, לאחריו יופיע הניסיון הבא. הזמן נמדד מרגע התגובה</p>
            <p style="font-size: 2em">משך פלנקר: <input  ng-model="config.initTime"/> </p>
            <p>משך זמן עד הופעת גירוי המטרה</p>
            <p style="font-size: 2em">זמן עד להופעת התרעה<input ng-model="config.timeAlertConfig"/> </p>
            <p style="font-size: 2em">משך זמן גירוי מטרה  <input  ng-model="config.wait"/></p>
            <p>משך הזמן בו מופיע גירוי המטרה</p>
            <p style="font-size: 2em">המתנה בין הפלנקר לתגובה <input  ng-model="config.flankerTime"/></p>
            <p>משך הפער בין גירוי המטרה לפלנקר</p>
        <p style="font-size: 2em"> זמן עד הופעת חלונית התגובה <input  ng-model="config.targetTime"/></p>
            <p>כמה שפחות</p>


            <p style="font-size: 2em"> כפתור (למקלדת דסקטופ) לקלט הימני</p><input ng-model="config.rightButton">
            <p>
                קלט זה מייצג את הקלט אותו תרצו לקבל מהמשתמש לדוגמה, אם תרצו שילחץ על M בכל פע שמופיעה האות H, הקלידו כאן M ובניסיון הראשון (למטה) בפלנקר H
            </p>
            <p style="font-size: 2em"> כפתור (למקלדת דסקטופ) לקלט השמאלי</p><input ng-model="config.leftButton">
            <p>
                קלט זה מייצג את הקלט אותו תרצו לקבל מהמשתמש לדוגמה, אם תרצו שילחץ על N בכל פע שמופיעה האות R, הקלידו כאן N ובניסיון הראשון (למטה) במטרה R
            </p>

            <h2 style="text-align: center"><b>ניסיונות :</b></h2>
            <p> באזור זה מופיעים הגירויים</p>
        <div id="rounds" style="width: 100%; text-align: center;">
            <div ng-repeat="round in config.rounds">


                <div style="display: inline-block; width: 100%; font-size: 1.5em">
                    <b>
                        ניסיון מספר
                        {{$index+1}} :

                    </b>

                    מטרה:
                    <input  ng-model="round.target"/>
                    פלנקר:
                    <input  ng-model="round.flanker"/>
                    <button  class="btn btn-primary btn-danger" type="button"  value="X" ng-click="removeRound($index)">X</button>

                </div>


            </div>
            <br/>
            <button  class="btn btn-primary btn-primary" type="button"  value="הוסף" ng-click="addRound()">הוסף</button>

        </div>
        <br/>
        <br/>
        <button  class="btn btn-primary btn-primary" type="button"  value="שמור" ng-click="save()" style="width: 100%">שמור</button>
        </div>
    </div>
</div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope,$http,$timeout) {
            $http.get('configParams').then(function(data) {
               $scope.config=data.data;
               console.log(data.data);
            });
            $scope.removeRound=function(index) {
                $scope.config.rounds.splice(index,1);
            };
            $scope.addRound=function() {
                $scope.config.rounds.push({
                    flanker:'R',
                    target:'R',
                    clicks:[],
                    message:'',
                    reAction:false,
                    startTime:new Date(),
                    status:'init'
                });
            };
            $scope.save = function() {
                $http.post('configParams',$scope.config);
                window.alert("נשמר");
            };
        });
    </script>

</body>
</html>
